<!doctype html>
<html>
<head>
    <title>Main Home PAge</title>
</head>
<body>
<h1>Main Home PAge</h1>
<nav>
    <ul>
        <li>
            <!--what you call in href here (user) will look for it as that (user)-->
            <!--make sure in userController part -> app.use('/user', userController) -> first param is named the same-->
            <a href="/user/">Users</a>
        </li>
        <li>
            <a href="/photo/">Photographers</a>
        </li>
    </ul>
</nav>
</body>
</html>